@import "tailwindcss";

@theme {
  --color-nam-green: #2D5A27;
  --color-nam-gold: #F4B400;
  --color-nam-earth: #8B4513;
  --color-nam-red: #8B3E2F;
  --color-nam-orange: #D97706;
  --color-nam-blue: #1E3A8A;
  --color-nam-white: #FCF9F2;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-nam-white text-gray-900;
  }
}

